.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.app-content-card__container {
  display: flex;
  flex-flow: row wrap;
}

app-content-card {
  flex: 50%
}

@media only screen and (max-width: 600px) {
  app-content-card {
    flex: 100%;
  }
}